<section class="bg-white py-16">
    <div class="mx-auto max-w-2xl px-4">
        <div class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8">
            <h2 class="font-semibold text-2xl mb-2">Thanks for your fake order</h2>
            <p class="text-gray-500 mb-8">Your Oder <span class="font-medium">#42</span>
                will never be process as this is a fake shop. we will not notify you once your order has not shipped.
            </p>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Date</dt>
                <dd class="font-medium text-gray-900 text-end">Sept 9 2025</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Payment</dt>
                <dd class="font-medium text-gray-900 text-end">Visa</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Address</dt>
                <dd class="font-medium text-gray-900 text-end">Address goes here</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Amount</dt>
                <dd class="font-medium text-gray-900 text-end">100</dd>
            </dl>
        </div>
        <div class="flex items-center space-x-4">
            <button routerLink="/order/42" mat-flat-button>View your Order</button>
            <button routerLink="/order/42" mat-stroked-button>Continue Shopping</button>
        </div>
    
    </div>
</section>